body {
    margin: 0;
}
.picture {
    background-color: #5f6769;
}

.column {
    float: left;
    width: 50%;
    background-color: #719192;
    display: flex;
    height: 75vh;
}

.row {
    padding: 100px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    margin: auto;
    width: 75%;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 1em;
    color: #3c4245;
}

.call {
    padding: 20px;
}

/* form css */

.form-wrapper {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans';
}

.form {
    width: 50%;
    position: relative;
    height: 50px;
    overflow: hidden;
}

.form input {
    width: 100%;
    height: 50%;
    color: #595f6e;
    padding-top: 20px;
    border: none;
    outline: none;
}

.form label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid gray;
    color: gray;
}

.form label::after {
/* you can only use 'after' with content */
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5fa8d3;
    transform: translateX(-100%);
    transition: transform(all 0.3s ease);
}
.content-income {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3 ease;
}

.form1 input:focus + .label-income .content-income, .form1 input:valid + .label-income .content-income{
    transform: translateY(-150%);
    font-size: 14px;
    color: #5fa8d3;
}

.form1 input:focus + .label-income::after, .form1 input:valid + .label-name::after {
    transform: translateX(0%);
}

/* zipcode */


.content-zipcode {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3 ease;
}

.form2 input:focus + .label-zipcode .content-zipcode, .form2 input:valid + .label-zipcode .content-zipcode{
    transform: translateY(-150%);
    font-size: 14px;
    color: #5fa8d3;
}

.form2 input:focus + .label-zipcode::after, .form2 input:valid + .label-name::after {
    transform: translateX(0%);
}

/* Email */

.content-email {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3 ease;
}

.form3 input:focus + .label-email .content-email, .form3 input:valid + .label-zipcode .content-email{
    transform: translateY(-150%);
    font-size: 14px;
    color: #5fa8d3;
}

.form3 input:focus + .label-email::after, .form3 input:valid + .label-name::after {
    transform: translateX(0%);
}

/* title and button styles */

h1 {
    margin: 30px;
}

.reality {
    color: #dfcdc3;;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 3em;

}

.realty {
    color: #dfcdc3;
    font-family: 'Bad Script';
    font-size: 4em;
}

.budget {
    display: none;
}

.calculate {
    margin: 10px;
}

/* image gallery styles */

.bDisplay {
    font-family: 'Bad Script';
}

.live-here {
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 3em;
}

.gallery-highlight {
    width: 80%;
}

section {
    margin-top: 40px;
    display: flex;
    height: 100vh;
    background-color: #5f6769;
}

.house-gallery {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.house-description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #719192;
    color: #f5e1da;
    border-radius: 20%;
}

.house-preview {
    display: flex;
    width: 80%;
}

.house-preview img {
    height: 100px;
    flex-grow: 1;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

img.house-active {
    opacity: 1;
}